/* ELEMENTS */
	
body {
	text-align: center;
	margin: 0;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-size: 12px;
		background-color: #e9ebe3;
	background-position: top center;
	background-repeat: repeat-y;
}

#main-search-container {
	margin-top: 30px;
	margin-bottom: 30px;
}

#main-search {
	padding: 10px;
	background: #e9ebe3;
	text-align: center;
	width: 250px;
	margin: 0 auto;
}

#inner-title {
	font-size:36px;
	font-weight:bold;
	color: #000;
	display: block;
	margin: 0 0 1px 0;
	border-bottom: 1px #d3d7c8 solid;
	padding: 4px;
	text-align:center;
}

#inner-title-sub {
	font-size:11px;
	color: #333;
	display: block;
	margin: 0 0 1px 0;
	padding: 4px;
	line-height: 16px;
	text-align: center;
}

#content h3 {
	color: #e9ebe3;
}

h3.short {
	font-size: 19px;
}

h3.mid {
	font-size: 17px;
}

h3.long {
	font-size: 15px;
}

.individual-name {
	font-size:24px;
	font-weight:bold;
	display:inline;
}

.individual-name a {
	color: #000;
	text-decoration: none;
}

.individual-name a:hover {
	color: #fff;
	text-decoration: none;
}	

.individual-name-sub {
	font-size:11px;
	color:#777;
	margin-top:0px;
	padding-left:3px;
	display:block;
}

.individual-name-sub a {
	color: #777;
}

#pager-macro {
	color: #777;
	font-size:12px;
	padding: 4px;
	background: #e9ebe3;
	text-align: right;
}

a {
	color: black;
	text-decoration: underline;
	padding: 1px;
}

a:hover {
	color: white;
	text-decoration: none;
	background-color: #000000;
}

a.image:link, a.image:visited, a.image:hover, h3 a {
	background: none;
	padding: 0;
}

a.image img {
	border: none;
}

a.color-inverse {
	color: white;
	text-decoration: underline;
}

a.color-inverse:hover {
	color: white;
	text-decoration: none;
}

a.admin:link, a.admin:visited {
	color: #f00;
	font-family: verdana;
	font-size: 11px;
	font-weight: normal;
}

a.grayed:link, a.grayed:visited {
	color: #666666;
	font-family: verdana;
	font-size: 11px;
	font-weight: normal;
}

img.right {
	float: right;
	padding: 5px;
	margin: 0 0 5px 10px;
}

img.left {
	float: left;
	padding: 5px;
	margin: 0 10px 5px 0;
}

span.current-page {
	font-weight: bold;
}

/* DIVS for layout */

#container {
	width: 760px;
	background: #ffffff;
	margin: 0 auto;
	text-align: left;
	position: relative;
}

#header {
	height: 80px;
	background: #909a74;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 758px;
	border-left: 1px solid #6e7460;
	border-right: 1px solid #6e7460;
}

#header h1 {
	color: #f3f4f0;
	font-size: 18px;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 12px;
	left: 10px;
}

#header .attendance_grouping {
	color: #d3d7c8;
	font-size: 12px;
}

#header .times {
	color: #d3d7c8;
	font-size: 14px;
}

#content {
	position: absolute;
	left: 0px;
	top: 103px;
	width: 748px;
	background: #ffffff;
	min-height: 1000px;
	padding: 5px;
	padding-top: 25px;
	border-left: 1px solid #6e7460;
	border-right: 1px solid #6e7460;
	border-bottom: 1px solid #6e7460;
}

#articles {
	line-height: 1.75;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
}

.article {
	clear: left;
}

/* TOP NAVIGATION */
	
div#top-nav {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 760px;
	height: 22px;
	background-color: transparent;
	font-size: 10px;
	z-index: 30;
}

div#top-nav ul {
	margin: 0;
	padding: 0;
}

div#top-nav li {
	list-style: none;
	margin: 0;
	padding: 7px 7px 7px 0px;
	float: right;
}

div#top-nav li a {
	display: inline;
	color: #d3d7c8;
}

div#top-nav li a:hover {
	background-color: #e9ebe3;
	color: #6e7460;
}

/* PAGE NAVIGATION */
	
div#page-nav {
	position: absolute;
	left: 0px;
	top: 80px;
	width: 758px;
	height: 23px;
	background: #909a74;
	font-size: 12px;
	border-left: 1px solid #6e7460;
	border-right: 1px solid #6e7460;
	z-index: 40;
}

div#page-nav ul {
	margin: 0;
	padding: 0;
	background: #e9ebe3;
}

div#page-nav li {
	list-style: none;
	margin: 0px;	
	padding: 4px 7px;
	background: #6e7460;
	border-right: 2px solid #909a74;
	font-weight: bold;
	float: left;
}

div#page-nav .on_page a, div#page-nav .on_page {
	background: white;
	color:#6e7460;
}

div#page-nav li a {
	display: inline;
	text-decoration: none;
	color: white;
}

div#page-nav li:hover {
	background: white;
}

div#page-nav li:hover a {
	color:#6e7460;
}

div#page-nav li a:hover {
	background-color: transparent;
}

/* SPECIALTY */
	
input {
	font-size: 14px;
}

input#search-text {
	font-weight: bold;
}

select {
	font-size: 16px;
}

.f1 {
	font-size: 12pt;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
}

.f1-bold {
	font-size: 12pt;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-weight: bold;
}

.f1-bold-inverse {
	font-size: 12pt;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	color: #ffffff;
}

.month_cal_date {
	float: right;
	text-align: center;
	margin-left: 1px;
	margin-bottom: 1px;
}

.month_cal_date a {
	color: black;
	background: transparent;
	border: 1px solid #d3d7c8;
	display: block;
	text-decoration: none;
	padding: 2px 2px 2px 2px;
}

.month_cal_date a:hover {
	color: white;
	background: black;
}

.month_cal_event {
	margin: 0.5em;
}

td.cal-days {
	background-color: #909a74;
}


table.list_page_util {
	width: 100%;
	vertical-align: middle;
	padding: 3px;
	border: 1px solid #ffffff;
	font-size: 12px;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	background: white url(../../images/site/title_tile_dark_beige.gif) repeat-x;
}

tr.column-headings {
	font-size: 12pt;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	color: #ffffff;
	background-color: #909a74;
}

.site-map ul {
	margin: 0;
	padding: 0;
}

.site-map li {
	text-align: left;
	line-height: 1.5;
	list-style: none;
	margin: 0;
}

.td-label
{
	vertical-align	: middle;
	text-align		: right;
	font-size		: 12pt;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-weight		: bold;
	white-space		: nowrap;
}

.td-label-required
{
	vertical-align	: middle;
	text-align		: right;
	font-size		: 12pt;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-weight		: bold;
	color			: red;
	white-space		: nowrap;
}

.td-label-textarea
{
	vertical-align	: top;
	text-align		: right;
	font-size		: 12pt;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-weight		: bold;
	white-space		: nowrap;
}

.td-input
{
	vertical-align	: middle;
	text-align		: left;
	font-size		: 12pt;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
}

.td-radio
{
	vertical-align	: middle;
	text-align		: center;
	font-size		: 12pt;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-weight		: bold;
	white-space		: nowrap;
}

tr.odd, td.odd
{
	background-color	: #e9ebe3;
}

tr.even, td.even
{
	background-color	: #d3d7c8;
}

tr.white, td.white
{
	background-color	: white;
}

#message
{
	text-align: center;
	background-color: red;
	color: white;
	font-weight: bold;
	margin-bottom: 20px;
	padding: 5px;
}

.section-header
{
	vertical-align	: middle;
	text-align		: left;
	font-size		: 12pt;
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	font-weight	 	: bold;
	color 			: white;
	background-color: #909a74;
	white-space		: nowrap;
}

.highlight-checkin-row {
	background-color:#fff;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.highlight-checkin-row:hover {
	background-color:#f8f8b9;
}

.event-room-flag {
	padding:1px 2px;
	margin-right:3px;
	color:white;
	font-size:12px;
	font-weight:bold;
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.ratio-hold-flag {
	background-color: blue;
}

.room-full-flag {
	background-color: red;
}

